<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <h2>{{ restaurant.get('name') }}</h2>
        <h4 tabindex="0"><a href={{ "https://www.google.com/maps/search/?api=1&query="~restaurant.coordinates.latitude~"%2C"~restaurant.coordinates.longitude }}>
            Location: {{ restaurant.display_address }}
        </a></h4>

        <img src={{restaurant.image_url}} alt={{ "Menu item from " ~ restaurant.name }}>

        <section>
            <p>Price: {{ restaurant.price or "No Data" }} </p>
            <p>Rating: {{ restaurant.rating or "No Data" }} </p>
            <p>Number of Reviews: {{ restaurant.review_count or "No Data" }} </p>
        </section>
    </main>
</body>
</html>

